
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya', serif;
}

@layer base {
  :root {
    --background: 8 33% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 8 33% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 8 33% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 1.2 59.5% 61.2%; /* #F2726F */
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 13 43% 96%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 13 43% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 38 61% 65%; /* #D9A770 */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 13 43% 90%;
    --input: 13 43% 90%;
    --ring: 1.2 59.5% 61.2%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 1.2 59.5% 61.2%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 14.3% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 14.3% 11.2%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 38 61% 65%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 14.3% 11.2%;
    --input: 220 14.3% 11.2%;
    --ring: 1.2 59.5% 61.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: hsl(var(--background));
    background-image:
        radial-gradient(at 27% 37%, hsl(var(--secondary)) 0px, transparent 50%),
        radial-gradient(at 97% 21%, hsl(var(--accent) / 0.2) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsl(var(--primary) / 0.2) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsl(var(--primary) / 0.3) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsl(var(--secondary)) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsl(var(--accent) / 0.1) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsl(var(--background)) 0px, transparent 50%);
  }
}

    